<%= simple_form_for [@cocktail, @dose] do |f| %>
<%= f.input :description %>
<%= f.association :ingredients %>
<%= f.button :submit, class:'btn, btn-primary' %>
<p><%= link_to 'back', cocktail_path(@cocktail), class: 'btn, btn-primary' %></p>
<% end %>
